---
layout: default
---


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ site.name }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/superslide.css"/>
<!--[if lt IE 9]> <script src="js/css3-mediaqueries.js"></script> <![endif]-->
<script src="{{ site.baseurl }}/js/html5.js"></script>
<script src="{{ site.baseurl }}/js/lib/modernizr-2.6.2.min.js"></script>
<script src="{{ site.baseurl }}/js/for-mobile.js"></script>

</head>
<body class="hide"> 
<!-- LOADING SPECIAL EFFECTS <div class="preloader"><div class="spinner"><span class="s-dot s-dot1"></span><span class="s-dot s-dot2"></span></div></div> -->
<div class="slider-main-container bp-fixed">
    <div id="slides">
        <div class="slides-container">
          <img src="{{ site.baseurl }}/images/home/slide_1.jpg" width="1439" height="627" alt="" title="">
          <img src="{{ site.baseurl }}/images/home/slide_2.jpg" width="1439" height="627" alt="" title="">
        </div>
    </div>
</div>
<section id="main-container">
    <section id="main-wrapper">
        <div class="home">
            <div class="top bp-rel">
                <div class="header">
                    <div class="auto">
                        <div class="logo bp-ab"><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/images/page_template/logo.png" width="291" height="74" alt="" title=""/></a></div>
                        <div class="reservation-btn fl" id="mobile-reservation"></div>

                        {% include reserve-popup.html %}

                        <div class="mobile-burger-menu fr"><img src="{{ site.baseurl }}/images/page_template/burger_menu.png" width="40" height="30" alt="" title=""/></div>
                        <div class="nav fr">
                            {% include nav.html %}
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>


<div class="auto remove-desktop-pop">
                    <div class="home-top-inner fr">
                        <h1>open all year to serve you.</h1>
                        <div class="white-btn"><a href="{{ site.baseurl }}/menu">Find out more</a></div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="home-bottom">
                <div class="auto bp-center">
                    <h2>Great food, Great place & Great company.</h2>
                    <div class="food-list bp-center">
                        <ul>
                            <li>
                                <a href="{{ site.baseurl }}/aboutus">
                                    <div class="food-pic"><img src="{{ site.baseurl }}/images/home/pic1.jpg" width="359" height="194" alt="" title=""/></div>
                                    <h5>ABOUT US</h5>
                                </a>
                            </li>
                            <li>
                                <h4>Welcome to City Island Lobster House</h4>
                                <p>Nestled just off to the left of the City Island Bridge as you enter the Island the Lobster House offers much more than fabulous lobster dishes.  On those hot summer weekends when island traffic can discourage even seasoned veteran diners, just make that quick first left off the bridge on to Bridge Street one block down and we.ll be right here waiting  for ya!</p>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/menu">
                                    <div class="food-pic"><img src="{{ site.baseurl }}/images/home/pic2.jpg" width="359" height="194" alt="" title=""/></div>
                                    <h5>OUR MENU</h5>
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/events">
                                    <div class="food-pic"><img src="{{ site.baseurl }}/images/home/pic3.jpg" width="359" height="194" alt="" title=""/></div>
                                    <h5>OUR events</h5>
                                </a>
                            </li>
                            <li>
                                <h4 class="sched">We are open everyday from 11:30 am - 1:00 am 691 Bridge Street City Island. NY 10464</h4>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/menu/#bar">
                                    <div class="food-pic"><img src="{{ site.baseurl }}/images/home/pic4.jpg" width="359" height="194" alt="" title=""/></div>
                                    <h5>OUR Bar</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% include footer.html %}
