---
layout: default
---

{% include header.html %}
<section id="main-container" class="facts">
	<section id="main-wrapper">
		<div class="inner-page">
			<div class="header">
				<div class="auto">
					<div class="logo bp-ab"><a href="/"><img src="{{ site.baseurl }}/images/page_template/logo.png" width="291" height="74" alt="" title=""/></a></div>
					<div class="reservation-btn fl" id="mobile-reservation"></div>

					{% include reserve-popup.html %}
					
					<div class="mobile-burger-menu fr"><img src="{{ site.baseurl }}/images/page_template/burger_menu.png" width="40" height="30" alt="" title=""/></div>
					<div class="nav fr">

						{% include nav.html %}

					</div>
					<div class="clr"></div>
				</div>
			</div>


<div class="event-holder auto2">
				<div class="inner-holder">
					<h1>Lobster Facts</h1>
					<h3>How to prepare a Lobster for Boiling</h3>
					<p>Most people cook lobsters by simply throwing them into a pot of boiling water. While this method may get the job done, it certainly leaves a lot to be desired as far as quality goes. Boiling flushes much of the flavor out of the lobster and the resulting stock will most likely be too weak in its unreduced state to offer any kind of sauce making ability.</p>
					<p>It is far more desirable to steam a lobster in a flavored broth of herbs and wine. Steaming will lock in much of the flavor of the lobster while the juices that manage to escape will be caught in a highly reduced stock. This stock can later be used to create a variety of sauces to accent the boiled lobster.</p>
					<p>Rinse the lobsters with cold running water then kill them by inserting a knife where the tail and body meet. Find a stockpot that is big enough to hold the lobsters and has a tight fitting lid. Add about 2 cups of water, wine, or clam juice or any combination of liquid you desire to the stockpot with whatever herbs you like and bring the stock to a boil. Shallots, parsley, peppercorns, or bay leaves are all components of a court bouillon and will give a nice flavor to the stock. Avoid ground peppers or salt at this point. These are enhancing or finishing spices and are not easy to control when added early.</p>
					<p>Once the stock is boiling, add the lobsters and replace the cover. Steam the lobsters for about 12 minutes or until they are bright red and the tails spring back when straightened then released. Remove the lobsters and place in an oven set to warm until you are ready to serve them. Use the lobster stock to make a sauce of your own design or try our recipe for Steamed Lobster with Parsley Wine Sauce.</p>
					<p>Once the stock is boiling, add the lobsters and replace the cover. Steam the lobsters for about 12 minutes or until they are bright red and the tails spring back when straightened then released. Remove the lobsters and place in an oven set to warm until you are ready to serve them. Use the lobster stock to make a sauce of your own design or try our recipe for Steamed Lobster with Parsley Wine Sauce.</p>
					<h3>How to prepare a Lobster for Broiling</h3>
					<p>There really is no way to prepare a lobster for broiling that is completely humane. Our advice is that you move quickly but carefully as you prepare your lobsters for broiling.</p>
					<p>Place the lobster on its stomach on a cutting board and while firmly holding its body use a cleaver or a heavy French knife to remove the claws and legs. The lobster will instinctively curl its tail when you remove its claws.</p>
					<p>Next, place the lobster on its back and firmly grasp the tail. Insert a sharp boning knife into the abdomen where it meets the tail and draw the knife towards the head.</p>
					<p>Next, reverse the procedure, this time holding the lobster by the body while drawing the knife from the cut in the abdomen along the tail. Take special care not to cut through the shell along the back of the lobster.</p>
					<p>The next step is to split the lobster. This is best done by simply pressing down with the fingers and thumbs on each side of the lobster until the shell cracks open and the interior of the tail and body cavity are exposed. All of the lobster is edible except for the stomach, which is the hard sac near the head, and the intestinal vein. Remove and discard these parts.</p>
					<p>The greenish liver or tomalley and coral are edible and can be prepared in a stuffing or left in the lobster during cooking. In all of our recipes we will remove and discard everything within the body cavity. The reason we don’t use the tomalley and coral is tomalley can be bitter in flavor at times and most people today just do not find the coral to be as appealing as past generations have.</p>
					<p>We suggest that the lobster be thoroughly washed under cold running water before proceeding with a recipe. The claws may be boiled or steamed and shelled to provide lobster meat for a stuffing or they may be broiled and served as a garnish with the lobster.</p>
				</div>
			</div>
		</div>
	</section>
</section>


{% include footer.html %}