---
layout: default
---

{% include header.html %}
<section id="main-container" class="contact">
	<section id="main-wrapper">
		<div class="inner-page">
			<div class="header">
				<div class="auto">
					<div class="logo bp-ab"><a href="/"><img src="{{ site.github.url }}/images/page_template/logo.png" width="291" height="74" alt="" title=""/></a></div>
					<div class="reservation-btn fl" id="mobile-reservation"></div>

					{% include reserve-popup.html %}
					
					<div class="mobile-burger-menu fr"><img src="{{ site.github.url }}/images/page_template/burger_menu.png" width="40" height="30" alt="" title=""/></div>
					<div class="nav fr">

						{% include nav.html %}

					</div>
					<div class="clr"></div>
				</div>
			</div>

<div class="contact-holder auto2">
				<div class="inner-holder inner-holder-1">
					<h1>Contact</h1>
					<p class="c-title">We’d love to hear from you. Let us know what you think of our food and service and we’d be happy to improve them for you.</p>
					<div class="col-right fr">
						<div class="col-right-top">
							<ul>
								<li>
									<label>Address</label>
									<p>City Island Lobster House 691 Bridge Street City Island, New York 10464</p>
									<div class="clr"></div>
								</li>
								<li>
									<label>Phone Number</label>
									<p>718-885-1459</p>
									<div class="clr"></div>
								</li>
								<li>
									<label>Fax Number</label>
									<p>718-885-1763</p>
									<div class="clr"></div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-left fl">
						<form action="https://formspree.io/cilob-support@stratusclear.com" method="post">
							<ul>
								<li><input type="text" name="Name" id="" placeholder="Name"/></li>
								<li><input type="text" name="_replyto" id="" placeholder="Email"/></li>
								<li><textarea name="message" id="" cols="0" rows="0" placeholder="For reservations, please call the phone number on the right."></textarea></li>
								<li>
									<div class="white-btn fr"><input type="submit" value="SUBMIT"/></div>
									<div class="clr"></div>
								</li>
							</ul>
						</form>
					</div>
					<div class="col-left fl">
						<div class="map img"><img src="{{ site.github.url }}/images/contact/map.jpg" width="403" height="368" alt="" title=""/></div>
					</div>
					<div class="col-right col-right-1 fr">
						<h2>Directions</h2>
						<h3>City Island, located just off the I-95 in the Bronx. Come join us!</h3>
						<ul>
							<li>• From Manhattan: From the East side take FDR drive North to Tri-Borough Bridge, then take New England thruway North, (Bruckner Expressway I-95). Follow 95 North to exit 8B Orchard Beach City Island. Follow signs that say City Island.</li>
							<li>• From Manhattan’s West side: From the Wes Side Highway go to Cross Bronx Expressway North I-95. Follow I-95 to exit 8-B, Orchard Beach City Island. Follow signs that say City Island.</li>
							<li>• From New Jersey: George Washington Bridge to Cross Bronx Expressway (I-95). Follow I-95 to exit 8-B, Orchard Beach City Island. Follow signs that say City Island.</li>
							<li>• From Connecticut: I-95 South to exit 8-B, Orchard Beach City Island. Follow signs that say City Island.</li>
							<li>• From Westchester County: Take the Hutchinson River Parkway south and exit at Orchard Beach/City Island. Follow signs that say City Island.</li>
							<li>• From Brooklyn or Queens: Cross the Whitestone or Throggs Neck Bridge remain to your right and take the I-95 North (New England Thruway). Follow I-95 to exit 8-B, Orchard Beach City Island. Follow signs that say City Island.</li>
						</ul>
					</div>
					<div class="clr"></div>
				</div>
			</div>
		</div>
	</section>
</section>





{% include footer.html %}
