<div class="cd-popup" role="alert">
				    <div class="cd-popup-container">
				        <p><bold>Please call us to make a reservation</bold>: 718-885-1459<br />
				        We are open 7 days a week<br />
				        Monday 11:30AM–12AM<br />
				       	Tuesday 11:30AM–12AM<br />
				       	Wednesday 11:30AM–12AM<br />
				       	Thursday 11:30AM–12AM<br />
				       	Friday 11:30AM–1AM<br />
				       	Saturday 11:30AM–1AM<br />
				       	Sunday 11:30AM–12AM</p>
					<a href="#0" class="cd-popup-close img-replace">Close</a>
				    </div> 
				</div>
