<div class="cd-popup" role="alert">
				    <div class="cd-popup-container">
				        <p>Please call us to make a reservation: 718-885-1459</p>
				        <p>We are open 7 days a week</p>
				        <p>Monday 11:30AM–12AM<br />
				       	  Tuesday 11:30AM–12AM<br />
				       	  Wednesday 11:30AM–12AM<br />
				       	  Thursday 11:30AM–12AM<br />
				       	  Friday 11:30AM–1AM<br />
				       	  Saturday 11:30AM–1AM<br />
				       	  Sunday 11:30AM–12AM</p>
					<a href="#0" class="cd-popup-close img-replace">Close</a>
				    </div> 
				</div>
