---
layout: default
---

{% include header.html %}
<section id="main-container" class="about">
	<section id="main-wrapper">
		<div class="inner-page">
			<div class="header">
				<div class="auto">
					<div class="logo bp-ab"><a href="/"><img src="{{ site.github.url }}/images/page_template/logo.png" width="291" height="74" alt="" title=""/></a></div>
					<div class="reservation-btn fl"><a href="/contact">Make a Reservation</a></div>
					<div class="mobile-burger-menu fr"><img src="{{ site.github.url }}/images/page_template/burger_menu.png" width="40" height="30" alt="" title=""/></div>
					<div class="nav fr">

						{% include nav.html %}

					</div>
					<div class="clr"></div>
				</div>
			</div>

<div class="about-holder auto2">
				<div class="inner-holder">
					<h1>About US</h1>
					<p>“When it comes to City Island seafood, waterfront dining, magnificent restaurant design, atmosphere and of course its cuisine, only one person comes to mind…</p>
					<p>Chef and Proprietor of the City Island Lobster House,</p>
					<p>- Joe Mandarino”</p>
					<p>Guests enter the Lobster House through a grandiose portal leading to a selection of wonderfully distinct and cozy dinning rooms.  All designed with comfort for a unique seafood dining experience.</p>
					<p>The City Island Lobster House’s Hemmingway Room with its beautiful Mahogany bar and cozy velvet backed booths is the restaurants newest addition. Large booths, fabulous bar with a view and a nice relaxed atmosphere. This room leads to the outdoor terrace and our spacious marina.</p>
					<p>Our outdoor terrace area offers an overlook of Long Island sound and the Lobster Houses’ own marina, which is totally dedicated to its boating patrons. Docking assistance always at the ready. Call in advance for special services.</p>
					<p>Lobster House Signature dishes are Maine Lobster, Sweet Cold Water Lobster Tails, Gigantic, King, Snow and Dungeness Crab Legs, Succulent Giant Shrimp, as well as dry aged Angus Beef, just to name a few.</p>
				</div>
			</div>
		</div>
	</section>
</section>

{% include footer.html %}