---
layout: default
---

{% include header.html %}
<section id="main-container" class="menu">
	<section id="main-wrapper">
		<div class="inner-page">
			<div class="header">
				<div class="auto">
					<div class="logo bp-ab"><a href="/"><img src="{{ site.github.url }}/images/page_template/logo.png" width="291" height="74" alt="" title=""/></a></div>
					<div class="reservation-btn fl"><a href="/contact">Make a Reservation</a></div>
					<div class="mobile-burger-menu fr"><img src="{{ site.github.url }}/images/page_template/burger_menu.png" width="40" height="30" alt="" title=""/></div>
					<div class="nav fr">

						{% include nav.html %}

					</div>
					<div class="clr"></div>
				</div>
			</div>
<div class="bar-holder auto2">
				<div class="inner-holder">
					<h1>
					  <a href="{{site.baseurl}}/menu/new.html" class="{% if page.url == '/new.html' %}current{% endif %}">Menu</a>
					  <a href="{{site.baseurl}}/menu/bar.html" class="{% if page.url == '/bar' %}current{% endif %}">The Bar</a>
					</h1>
					<p class="bar-top">{{ menu.blurb }}</p>
						<div class="menu-col fl">
              {{ content }}