---
layout: default
---

{% include header.html %}
<section id="main-container" class="event">
	<section id="main-wrapper">
		<div class="inner-page">
			<div class="header">
				<div class="auto">
					<div class="logo bp-ab"><a href="/"><img src="{{ site.github.url }}/images/page_template/logo.png" width="291" height="74" alt="" title=""/></a></div>
					<div class="reservation-btn fl" id="mobile-reservation"></div>

					{% include reserve-popup.html %}
					
					<div class="mobile-burger-menu fr"><img src="{{ site.github.url }}/images/page_template/burger_menu.png" width="40" height="30" alt="" title=""/></div>
					<div class="nav fr">

						{% include nav.html %}

					</div>
					<div class="clr"></div>
				</div>
			</div>
<div class="event-holder auto2">
				<div class="inner-holder">
					<h1>Events & Catering</h1>
					<p>The Lobster House Restaurant’s main goal has always been to provide its customers with the finest in food, service and atmosphere.  We are very excited to introduce you to our New Hemmingway Room.  We are a full service Restaurant/Catering company. We specialize in parties of 20 to 100 people.</p>
					<p>Our expertise ranges from sumptuous buffets and simple parties, to elegant sit down dinners, business meetings and weddings at competitive pricing. Your imagination can soar. Our Seaview room can accommodate up to sixty-five guests, The Lobster House Restaurant is perfect as your special occasions restaurant.  Holiday party needs to private business luncheons! Our Management and award-winning Chef look forward to assisting in sharing those special moments.</p>
				</div>
			</div><br><br><br><br><br><br>
		</div>
	</section>
</section>

{% include footer.html %}