---
layout: default
---

{% include header.html %}
<section id="main-container" class="menu">
	<section id="main-wrapper">
		<div class="inner-page">
			<div class="header">
				<div class="auto">
					<div class="logo bp-ab"><a href="/"><img src="{{ site.github.url }}/images/page_template/logo.png" width="291" height="74" alt="" title=""/></a></div>
					<div class="reservation-btn fl"><a href="/contact">Make a Reservation</a></div>
					<div class="mobile-burger-menu fr"><img src="{{ site.github.url }}/images/page_template/burger_menu.png" width="40" height="30" alt="" title=""/></div>
					<div class="nav fr">

						{% include nav.html %}

					</div>
					<div class="clr"></div>
				</div>
			</div>
<div class="bar-holder auto2">
				<div class="inner-holder">
					<h1>Menu</h1>
					<p class="bar-top">Lunch at the Lobster House Restaurant is served Monday thru Saturday from 11:30am thru 3:00pm. Ordering from our regular menu is permitted during lunch hours. All liunch entrees’ are served with soup or salad. Choice of french fries, baked potato, rice or linguine, coffee or tea and complimentary dessert of the day.</p>
					<div class="menu-col fl">
						<h2>Entree</h2>
						<ul>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">21.95</span><div class="clr"></div></li>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">30.95</span><div class="clr"></div></li>
							<li><p>a combination of baby lobster tail, shrimp, filet of sole, mussels and clams</p></li>
							<li><span>Lobster Tail Plate</span><span class="dotted" style="width:64%"></span><span class="fr">26.95</span><div class="clr"></div></li>
							<li><p>succulent broiled or steamed</p></li>
							<li><span>Authentic Fish & Chips</span><span class="dotted" style="width:56%"></span><span class="fr">22.95</span><div class="clr"></div></li>
							<li><span>Jumbo Fried Shrimp</span><span class="dotted" style="width:61%"></span><span class="fr">20.95</span><div class="clr"></div></li>
							<li><p>a City Island Favorite</p></li>
							<li><span>Jumbo Shrimp Scampi</span><span class="dotted" style="width:58%"></span><span class="fr">22.95</span><div class="clr"></div></li>
							<li><p>succulently sautéed in butter</p></li>
							<li><span>Large Tender Scallops</span><span class="dotted" style="width:58%"></span><span class="fr">26.95</span><div class="clr"></div></li>
							<li><p>served broiled or fried</p></li>
							<li><span>King Crab Legs</span><span class="dotted" style="width:68%"></span><span class="fr">43.95</span><div class="clr"></div></li>
							<li><p>served broiled or steamed</p></li>
							<li><span>Snow Crab Legs</span><span class="dotted" style="width:66%"></span><span class="fr">26.95</span><div class="clr"></div></li>
							<li><p>served broiled or steamed</p></li>
							<li><span>Lobster - Broiled or Steamed</span><span class="dotted" style="width:47%"></span><span class="fr">24.95</span><div class="clr"></div></li>
							<li><span>Baked Filet of Sole</span><span class="dotted" style="width:62%"></span><span class="fr">20.95</span><div class="clr"></div></li>
							<li><span>Broiled Tilapia</span><span class="dotted" style="width:68%"></span><span class="fr">20.95</span><div class="clr"></div></li>
							<li><span>Broiled Salmon</span><span class="dotted" style="width:68%"></span><span class="fr">20.95</span><div class="clr"></div></li>
							<li><span>Mahi Mahi</span><span class="dotted" style="width:73%"></span><span class="fr">20.95</span><div class="clr"></div></li>
							<li><span>Blue Fish</span><span class="dotted" style="width:75%"></span><span class="fr">17.95</span><div class="clr"></div></li>
							<li><p>all of the above  sh served steamed or broiled</p></li>
							<li><span>Shrimp Parmigiana</span><span class="dotted" style="width:47%"></span><span class="fr">23.95</span><div class="clr"></div></li>
							<li><p>large shrimp smothered in marinara sauce & cheese</p></li>
							<li><span>Fried Calamari w/Marinara Sauce</span><span class="dotted" style="width:25%"></span><span class="fr">20.95</span><div class="clr"></div></li>
							<li><span>BBQ Combination Plate</span><span class="dotted" style="width:69%"></span><span class="fr">20.95</span><div class="clr"></div></li>
							<li><p>Chicken & Ribs served for one</p></li>
							<li><span>BBQ Ribs</span><span class="dotted" style="width:67%"></span><span class="fr">20.95</span><div class="clr"></div></li>
							<li><span>Prime Rib of Beef</span><span class="dotted" style="width:47%"></span><span class="fr">23.95</span><div class="clr"></div></li>
							<li><span>House Chicken Fingers</span><span class="dotted" style="width:47%"></span><span class="fr">18.95</span><div class="clr"></div></li>
							<li><p>Served w/choice of BBQ or Honey Mustard Sauce</p></li>
							<li><span>Chicken Parmigiana</span><span class="dotted" style="width:47%"></span><span class="fr">18.95</span><div class="clr"></div></li>
							<li><p>Tender chicken smothered in marinara sauce & cheese</p></li>
							<li><span>Linguine in Red or White Clam Sauce</span><span class="dotted" style="width:27%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Maryland Crab Cakes</span><span class="dotted" style="width:47%"></span><span class="fr">21.95</span><div class="clr"></div></li>
						</ul>
						<div class="menu-list">
							<ul>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_1.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Fresh Catch of the Day</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_2.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Shrimp Tail</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_2.jpg" width="118" height="99" alt="" title=""/></div>
									<p>Shrimp Tail</p>
								</li>
							</ul>
						</div>
						<h2>Beverages</h2>
						<ul>
							<li><span>Coffee</span><span class="dotted" style="width:79%"></span><span class="fr">2.50</span><div class="clr"></div></li>
							<li><span>Tea</span><span class="dotted" style="width:82%"></span><span class="fr">1.75</span><div class="clr"></div></li>
							<li><span>Hot Chocolate</span><span class="dotted" style="width:66%"></span><span class="fr">2.75</span><div class="clr"></div></li>
							<li><span>Iced Cofee or Tea</span><span class="dotted" style="width:65%"></span><span class="fr">2.95</span><div class="clr"></div></li>
							<li><span>Coke & Diet Coke</span><span class="dotted" style="width:57%"></span><span class="fr">2.95</span><div class="clr"></div></li>
							<li><span>Orange</span><span class="dotted" style="width:59%"></span><span class="fr">2.95</span><div class="clr"></div></li>
						</ul>
						<h2>City Island Favorites</h2>
						<h3>Catch of the Day</h3>
						<ul>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Broiled Combinationb</span><span class="dotted" style="width:57%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><p>a combination of baby lobster tail, shrimp, filet of sole, mussels and clams</p></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Broiled Combinationb</span><span class="dotted" style="width:57%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Broiled Combinationb</span><span class="dotted" style="width:57%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Broiled Combinationb</span><span class="dotted" style="width:57%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Broiled Combinationb</span><span class="dotted" style="width:57%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Broiled Combinationb</span><span class="dotted" style="width:57%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><p>a combination of baby lobster tail, shrimp, filet of sole, mussels and clams</p></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Broiled Combinationb</span><span class="dotted" style="width:57%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Broiled Combinationb</span><span class="dotted" style="width:57%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Broiled Combinationb</span><span class="dotted" style="width:57%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">19.95</span><div class="clr"></div></li>
							<li><span>Broiled Combinationb</span><span class="dotted" style="width:57%"></span><span class="fr">29.95</span><div class="clr"></div></li>
						</ul>
						<div class="menu-list">
							<ul>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_4.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Cold Seafood Island</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_5.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Shrimp Caesar Salad</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_6.jpg" width="118" height="99" alt="" title=""/></div>
									<p>Grilled Salmon Salad</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_1.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Fresh Catch of the Day</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_2.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Shrimp Tail</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_2.jpg" width="118" height="99" alt="" title=""/></div>
									<p>Shrimp Tail</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="menu-col fr">
						<h2>House Sandwiches</h2>
						<ul>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><p>a combination of baby lobster tail, shrimp, filet of sole, mussels and clams</p></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
						</ul>
						<div class="menu-list">
							<ul>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_7.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Lobster Roll Sandwhich</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_8.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Grilled Chicken Sandwhich</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_9.jpg" width="118" height="99" alt="" title=""/></div>
									<p>Fillet Fish Sandwhich</p>
								</li>
							</ul>
						</div>
						<h2>Lobster House Burgers</h2>
						<ul>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><p>a combination of baby lobster tail, shrimp, filet of sole, mussels and clams</p></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><p>a combination of baby lobster tail, shrimp, filet of sole, mussels and clams</p></li>
						</ul>
						<div class="menu-list">
							<ul>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_7.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Lobster Roll Sandwhich</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_8.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Grilled Chicken Sandwhich</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_9.jpg" width="118" height="99" alt="" title=""/></div>
									<p>Fillet Fish Sandwhich</p>
								</li>
							</ul>
						</div>
						<h2>Salads</h2>
						<ul>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
						</ul>
						<div class="menu-list">
							<ul>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_4.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Cold Seafood Island</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_5.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Shrimp Caesar Salad</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_6.jpg" width="118" height="99" alt="" title=""/></div>
									<p>Grilled Salmon Salad</p>
								</li>
							</ul>
						</div>
						<h2>House Specialties</h2>
						<ul>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><p>a combination of baby lobster tail, shrimp, filet of sole, mussels and clams</p></li>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Broiled Combination</span><span class="dotted" style="width:59%"></span><span class="fr">29.95</span><div class="clr"></div></li>
							<li><span>Fresh Catch of the Day</span><span class="dotted" style="width:56%"></span><span class="fr">29.95</span><div class="clr"></div></li>
						</ul>
						<div class="menu-list">
							<ul>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_4.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Cold Seafood Island</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_5.jpg" width="143" height="99" alt="" title=""/></div>
									<p>Shrimp Caesar Salad</p>
								</li>
								<li>
									<div class="menu-pic"><img src="{{ site.github.url }}/images/menu/pic_6.jpg" width="118" height="99" alt="" title=""/></div>
									<p>Grilled Salmon Salad</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="clr"></div>
				</div>
			</div>
		</div>
	</section>
</section>

{% include footer.html %}
