---
layout: menu
---

{% assign current_food_section = "zzz" %}
{% for food in site.data.menu %}
  {% increment how_much_food_shown %}
  {% if how_much_food_shown < how_much_food | dividied_by:2 %}
    <div class="menu-col fl">
  {% else %}
    <div class="menu-col fr">
  {% endif %}
  {% if current_food_section == food.Section %}
    <ul>
      <li><span>{{food.Entry}}</span><span class="dotted" style="width:50%"></span><span class="fr">{{food.Price}}</span><div class="clr"></div></li>
    </ul>
    {% assign current_food_section = {{food.Section}} %}
  {% else %}
    <h2>{{food.Section}}</h2>
      <ul>
        <li><span>{{food.Entry}}</span><span class="dotted" style="width:50%"></span><span class="fr">{{food.Price}}</span><div class="clr"></div></li>
      </ul>
      {% assign current_food_section = {{food.Section}} %}
  {% endif %}
  
{% endfor %}
						<h2>{{ menu.section }}</h2>
						<h3>{{ menu.subsection }}</h3>
						<ul>
							<li><span>{{ menu.entry }}</span><span class="dotted" style="width:56%"></span><span class="fr">{{ menu.entryprice }}</span><div class="clr"></div></li>
						</ul>
						
						{{ food.Section }} - {{ food.Sub-section }} - {{ food.Entry }} - {{ food.Price }}